{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "comma-dangle": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "semi": "off",
    "max-depth": "off",
    "complexity": "off",
    "camelcase": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
